#nova-avaliacao {
    .acf-field-5da86588a6c5a {
        height: 300px;
        overflow: hidden;
        overflow-y: scroll;
    }

    #acf-field_5da86588a6c5a {
        border: 0;
        padding: 10px 0;
    }

    .selection {
        border: 1px solid #ced4da;
        border-radius: .3rem;
        display: flex;
        margin-top: 11px;
        width: 100%;

        .choices {
            border-right: 1px solid rgba(0, 2, 0, .2);
            width: 50%;
        }

        .values {
            width: 50%;
        }
    }
}